h2 {
  position: absolute;
  top:10px;
  left: 100px;
  font: sans-serif;
  text-align: left;
  color: black;
}

.axis--x text {
  cursor: default;
  pointer-events: all;
  text-anchor: end;
}

.axis--x-label {
  text-anchor: middle;
  opacity: .75;
}

.axis--y-label {
  opacity: .75;
}

